###############################################
# Project Configuration (Example)
# Copy this file to .env and fill values locally.
# DO NOT commit real secrets.
###############################################

# ===== GCP =====
PROJECT_ID=sc-soundsight
REGION=us-central1

# ===== Gemini =====
GEMINI_API_KEY=

# ===== Firebase =====
FIREBASE_PROJECT_ID=sc-soundsight
FIREBASE_STORAGE_BUCKET=sc-soundsight.firebasestorage.app
GOOGLE_APPLICATION_CREDENTIALS=./secret/serviceAccountKey.json
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=sc-soundsight.firebaseapp.com

# ===== Cloud Run (future use) =====
SERVICE_NAME=soundsight
DJANGO_SECRET_KEY=

# ===== Artifact Registry =====
REPO_NAME=soundsight
IMAGE_TAG=v1

# ===== Celery Configuration =====
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0