###############################################
# Project Configuration (Example)
# Copy this file to .env and fill values locally.
# DO NOT commit real secrets.
###############################################

# ===== GCP =====
PROJECT_ID=soundsight-dev
REGION=us-central1

# ===== Gemini =====
GEMINI_API_KEY=

# ===== Firebase =====
FIREBASE_PROJECT_ID=soundsight-dev

# ===== Firebase Admin =====
GOOGLE_APPLICATION_CREDENTIALS=./secret/serviceAccountKey.json
FIREBASE_STORAGE_BUCKET=soundsight-dev.firebasestorage.app

# ===== Cloud Run (future use) =====
SERVICE_NAME=soundsight

# ===== Artifact Registry =====
REPO_NAME=soundsight
IMAGE_TAG=